.blogPage_circle {
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 200px;
  pointer-events: none;
  transform: translateY(50%);
}

.blogPage_first_ellipse {
  position: absolute;
  left: 0;
  top: 100px;
  z-index: -1;
  pointer-events: none;
  width: 80px;
}

.blogPage_second_ellipse {
  position: fixed;
  top: -100px;
  right: 0;
  transform: rotate(135deg);
  width: 150px;
  pointer-events: none;
}

.blogPage_ellipse3 {
  position: absolute;
  width: 90px;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .blogPage_circle {
    right: 5%;
    width: 100px;
  }

  .blogPage_first_ellipse {
    display: none;
  }

  .blogPage_second_ellipse {
    position: fixed;
    top: -100px;
    right: 0;
    transform: rotate(135deg);
    width: 150px;
    pointer-events: none;
  }

  .blogPage_ellipse3 {
    display: none;
  }

  .content_info {
    display: inline;
    flex-wrap: wrap;
  }

  .pic {
    display: none;
  }

  .dsa {
    display: none;
  }

  .icon {
    display: inline-flex;
    font-size: 80%;
  }
}

@media screen and (max-width: 1300px) {
  .dsa {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 970px) {
  .icon {
    display: inline-flex;
    font-size: 80%;
  }
  .details {
    font-size: smaller;
  }
  .blogPage_ellipse3 {
    display: none;
  }
}

.heading {
  text-align: center;
  margin-top: 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  letter-spacing: -0.02em;
  color: #0b8b8b;
}

#container {
  height: 100vh;
}

.card {
  display: flex;
  width: 88%;
  height: 35%;
  padding: 1rem;
  background: #ffffff;
  border: 1px solid #0c8b8b;
  border-radius: 20px;
  margin-bottom: 20px;
}

.img {
  width: auto;
}

.pic {
  width: 75%;
  height: 90%;
  padding-top: 20px;
  padding-left: 20px;
}

.content {
  padding-left: 2.5%;
  width: 85%;
  height: 25%;
  padding-top: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.title {
  padding-top: 2%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.author_date {
  display: flex;
  padding-top: 2%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.content_info {
  width: 80%;
  height: 50px;
  padding-top: 4%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.readmore {
  color: #0c8b8b;
  font-style: italic;
  text-decoration: none;
}

.author {
  padding-right: 60px;
}

.dsa_icons {
  width: 100%;
  display: flex;
}

.icons {
  display: flex;
  width: auto;
  padding-left: 20%;
}

.icon {
  padding-right: 20px;
  color: #0c8b8b;
}

.blog_card-components {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 1300px) {
}
@media (min-device-width: 20px) and (max-device-width: 500px) {
  .card {
    width: 90%;
    align-items: center;
  }
}
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 400px) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
}
