.events{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}

.events__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.section__text{
  padding-top: 1rem;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.85rem;
  letter-spacing: 0.055em;
  color: var(--text-main);
}

.events-1 {
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
  margin-top:70px;
  overflow-x: hidden;
}


.events_cubo{
  width: 200px;
}

.events_more {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 2rem 0;
  margin-top: 2rem;
}
.events_more a {
  text-decoration: none;
}

.events_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 0.4rem;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background: #0B8B8B;
  color: #ffffff;
  border: none;
  outline: none;

}




.events-card{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 75px;
  align-items: center;
  justify-content: center;
  align-content: center;
}



.eventCard{
  font-family: 'Raleway', sans-serif;  
  width: 300px;
  height: 450px;
  border-radius: 15px;
  
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2), -5px -5px 10px rgba(230,230,230,0.1);
}
.eventCard:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2), -5px -5px 20px rgba(255,255,255,0.1);
  
}
.eventCard .eventCard_image{
  height: 35%;
  width: 100%;
}
.eventCard .eventCard_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 55%;
}
.eventCard .content{
  height: 50%;
  width: 100%;
  background-color: #fff;
  padding: 0 20px;
  padding-top: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  overflow: hidden;
  color: #333;
}
.eventCard .content .title{
  text-align: center;
  font-weight: 800;  
}
.eventCard .content .title .time{
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: var(--primary-color);
}
.eventCard .content .title .name{
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.eventCard .content .para{
  height: 50%;
  overflow-y: scroll;
}
.eventCard .content .para::-webkit-scrollbar {
  display: none;
}
.eventCard .activity{
  height: 15%;
  width: 100%;
  background-color: #003a3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.eventCard__icon {
  font-size: 2rem;
  color: #ffffff;
}




@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {
  .events__container {
    width: 90%;
    padding: 3rem 0;
  }
  .section__text{
    font-size: 1.65rem;
  }

}

@media screen and (max-width: 800px) {
  .events__container {
    width: 100%;
    margin: 0;
    padding: 1.5rem;
    flex-direction: column;
  }
  .section__text{
    font-size: 1.45rem;
  }
  .events_more {
    padding: 1rem 0;
    margin-top: 1rem;
  }
  .events_btn {
    padding: 0.8rem 1.2rem;
    font-size: 18px;
  }
  .events-card {
    padding-top: 35px;
  }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}