.events {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}

.events__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.section__text {
  padding-top: 1rem;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.65rem;
  letter-spacing: 0.055em;
  color: var(--text-main);
}

.events-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  overflow-x: hidden;
}

.events_cubo {
  width: 200px;
}

.events_more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  margin-top: 2rem;
}

.events_more a {
  text-decoration: none;
}

.events_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 0.4rem;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background: #0b8b8b;
  color: #ffffff;
  border: none;
  outline: none;
}

.events-subheading {
  text-transform: uppercase;
  font-family: var(--primary-font);
  color: #0b8b8b;
  font-size: 25px;
  margin: 30px 0px 0px 0px;
  margin-top: 2rem;
}

.events-subheading-text {
  font-size: 18px;
  text-decoration: none;
  font-family: var(--primary-font);
  margin-top: 18px;
}

.events-card {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 75px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.eventCard {
  font-family: var(--secondary-font);
  width: 300px;
  height: 450px;
  border-radius: 15px;
  z-index: 9;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(230, 230, 230, 0.1);
}

.eventCard:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2),
    -5px -5px 20px rgba(255, 255, 255, 0.1);
}

.eventCard .eventCard_image {
  height: 35%;
  width: 100%;
}

.eventCard .eventCard_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 55%;
}

.eventCard_content {
  height: 50%;
  width: 100%;
  background-color: #fff;
  padding: 0 20px;
  padding-top: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  overflow: hidden;
  color: #333;
}

.eventCard_title {
  text-align: center;
  font-weight: 800;
}

.eventCard_time {
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.eventCard_name {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.eventCard_para {
  height: 55%;
  overflow-y: scroll;
}

.eventCard_para::-webkit-scrollbar {
  display: none;
}

.eventCard_activity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  padding: 0 20px;
  width: 100%;
}

.eventCard_activity button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 90%;
  margin: auto;
  cursor: pointer;
  padding: 0.75rem 0;
  font-family: var(--primary-font);
  color: #003a3a;
  font-size: 1.05rem;
  font-weight: 500;
  background: rgba(0, 150, 136, 0.4);
}

.eventDialog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.css-ypiqx9-MuiDialogContent-root,
.css-1ty026z {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.css-ypiqx9-MuiDialogContent-root::-webkit-scrollbar,
.css-1ty026z::-webkit-scrollbar {
  display: none !important;
}

.event_divider_line {
  width: 100%;
  pointer-events: none;
  margin-top: 2rem;
}

.eventDialog__header {
  display: flex;
  position: relative;
}

.eventDialog__close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #ffffff;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 999;
}

.edh__left {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.edh__left img {
  width: 60%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
}

.edh__right {
  position: relative;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 40px 0px 40px;
  background: #0baaaa;
  padding: 2rem;
  color: #ffffff;
  gap: 1.55rem;
}

.edh__right h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.edh__right__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edh_btn {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  background: #ffffff;
  color: #0baaaa;
  border-radius: 30px;
  padding: 0.5rem 0.85rem;
}

.edh_btn p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 9px;
  font-size: 0.8rem;
  color: #0baaaa;
}

.edh__right_p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 23px;
  color: #ffffff;
}

.eventDialog__leaderboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  gap: 1.25rem;
}

.eventDialog__leaderboard h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;
  text-align: center;
  color: #333333;
}

.leaderboard__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.ldbrd__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.leaderboard__row {
  flex: 0.33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.leaderboard__row img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #0baaaa;
}

.second__image {
  transform: scale(0.9);
}

.third__image {
  transform: scale(0.8);
}

.leaderboard__row h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 31px;
  text-align: center;
  color: #0baaaa;
}

.leaderboard__row h3 span {
  font-weight: 800;
  font-size: 2.1rem;
}

.leaderboard__row h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.crown {
  font-size: 3.5rem;
  color: #ffcc4d;
}

.eventDialog__footer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 1.25rem;
}

.eventDialog__footer h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 38px;
  text-align: center;
  color: #333333;
}

.edf__btns {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1.75rem;
}

.edf_btn {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  background: #0baaaa;
  border-radius: 64.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.05rem;
  line-height: 16px;
  color: #ffffff;
  padding: 0.75rem 1rem;
  transition: ease-in-out 0.1s;
}

.edf_btn:hover {
  background: #003a3a;
}

@media (min-width: 992px) and (max-width: 1380px) {
}

@media screen and (max-width: 992px) {
  .events__container {
    width: 90%;
    padding: 3rem 0;
  }

  .section__text {
    font-size: 1.45rem;
  }
}

@media screen and (max-width: 800px) {
  .events__container {
    width: 100%;
    margin: 0;
    padding: 1.5rem;
    flex-direction: column;
  }

  .section__text {
    font-size: 1.25rem;
  }

  .events_more {
    padding: 1rem 0;
    margin-top: 1rem;
  }

  .events_btn {
    padding: 0.8rem 1.2rem;
    font-size: 18px;
  }

  .events-card {
    padding-top: 35px;
  }

  .eventDialog__header {
    flex-direction: column;
  }

  .edh__right {
    padding: 1rem;
    gap: 1.55rem;
    border-radius: 0;
  }

  .edh__right h1 {
    font-size: 1.5rem;
  }

  .eventDialog__close {
    top: 20px;
    right: 20px;
    color: #0baaaa;
    font-size: 2rem;
  }

  .edf__btns {
    justify-content: space-between;
  }

  .edh_btn {
    gap: 0.25rem;
    padding: 0.4rem 0.75rem;
  }

  .edh_btn p {
    font-size: 0.7rem;
  }

  .edh__right_p {
    font-size: 1.15rem;
    line-height: 20px;
  }

  .eventDialog__leaderboard {
    padding: 1rem 0;
    width: 100%;
    gap: 1.25rem;
  }

  .eventDialog__leaderboard h1 {
    font-size: 1.5rem;
  }

  .leaderboard__container {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .leaderboard__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }

  .leaderboard__row img {
    width: 160px;
    height: 160px;
  }

  .css-1kfeeuf-MuiPaper-root-MuiDialog-paper,
  .css-134mzkh,
  .css-c2c0hr-MuiPaper-root-MuiDialog-paper,
  .css-dhi2p6 {
    margin: 16px !important;
    border-radius: 20px !important;
  }

  .first__row {
    z-index: 1;
  }

  .second__row {
    transform: translateX(40px);
  }

  .third__row {
    transform: translateX(-40px);
  }

  .leaderboard__row h3 {
    font-size: 1rem;
    line-height: 31px;
  }

  .leaderboard__row h3 span {
    font-weight: 800;
    font-size: 1.5rem;
  }

  .leaderboard__row h4 {
    font-size: 0.9rem;
    white-space: nowrap;
  }

  .eventDialog__footer {
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    padding-bottom: 2rem;
  }

  .eventDialog__footer h1 {
    font-size: 1.35rem;
  }

  .edf_btn {
    gap: 0.5rem;
    font-size: 0.95rem;
    color: #ffffff;
    padding: 0.5rem 0.85rem;
  }
}

@media screen and (max-width: 600px) {
  .leaderboard__row img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .leaderboard__row img {
    width: 130px;
    height: 130px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
}
