.pageNotFound {
    height: 100vh;
    display: flex;
    background: #E6F4F4;
    position: relative;
    overflow: hidden;
}

.pnf__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.pnf__container p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 1.15rem;
    color: rgba(51, 51, 51, 0.7);
}

.pnf__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fnf_bold {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 300px;
    display: flex;
    align-items: center;
    background: linear-gradient(143.6deg, #49D3D3 23.07%, #0B8B8B 81.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.pnf__container a {
    text-decoration: none;
}

.pnf_btn {
    background: #0BAAAA;
    border-radius: 50px;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 0.95rem;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.pnf_ellipse_circle {
    position: absolute;
    top: 20px;
    right: 0;
    opacity: 0.5;
    pointer-events: none;
    width: 250px;
}

.pnf_circle {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    pointer-events: none;
    transform: translateX(30%) translateY(30%);
    width: 200px;
}

.pnf_ellipse {
    position: absolute;
    bottom: 15%;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
    width: 150px;
}