.footer { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #0B8B8B;
    min-height: 50vh;
}

.footer_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
}

.footer_left {
    flex: 0.6;
}

.footer_right {
    flex: 0.4;
}

@media (min-width: 992px) and (max-width: 1380px) {

}


@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}